# docs
/docs/data/
/docs/outputs/
/docs/_build/
/docs/build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv

# Distribution / packaging
.Python
dist/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Jupyter Notebook
tests/*.ipynb
notebooks
.ipynb_checkpoints

# ruff
.ruff_cache